html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
html {
  background: url(background.png) no-repeat;
  background-size: cover;
  text-align: center;
}
p, #score, form{
  text-align: center;
}
div {
  text-align: center;
}
canvas {
  border:1px solid #d3d3d3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.container {
  display: inline-block;
  position: relative;
}
.background {
  z-index: -10;
  background: #CCC;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#game_board {
  margin: 3% auto;
  width: 50%;
}
.color {
  color: black;
  font-size: 15pt;
  text-shadow: 0 0 2px black;
}
#mobile_control {
  display: none;
}

@media (max-width: 480px) {
  #game_board {
    margin: 3% auto;
    width: 100%;
  }
  .color {
    font-size: 14pt;
  }
  #pc_control {
    display: none;
  }
  #mobile_control {
    display: inline;
  }
}